/*   
Theme Name: Science is Vital
Theme URI: #
Description: Science is Vital theme
Author: Gallomanor
Author URI: http://gallomanor.com/
Version: 1.1 
Edited by rpg 13Apr13
Template: twentyten
*/

@import url( ../twentyten/style.css );

body{
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	background-image: url(images/redox_02.png);
}

a:visited, 
a:link,
a {
color: #0871b5;
}

#content p, #content ul, #content ol, #content dd, #content pre, #content hr {
	margin-bottom: 14px;
}

#wrapper{
	-webkit-box-shadow: 0px 0px 5px 2px #666;
	box-shadow: 0px 0px 5px 2px #666;
	padding: 0 10px;
}

#content, #content input, #content textarea{
	font-size: 14px;
	line-height: 20px;
}

#branding img{
	border: none;
}

#masthead, #header{
	height: 170px;
	position: relative;
}

#header{
	padding: 0px;
	border-top: 10px solid #fff;
	border-bottom: 2px solid #0871b5;
}

#masthead{
	background-image: url(images/alpha.png);
}

#site-title{
	width: 250px;
	float: right;
	margin: 0px;
}

#access{
	width: 790px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: none;
}

	#access .menu-header li, div.menu li{
		background-color: #0871b5;
		-webkit-border-radius: 10px 10px 0px 0px;
		border-radius: 10px 10px 0px 0px;
		margin-right: 3px;
	}
	
		#access ul li.current_page_item, #access ul li.current-menu-ancestor, #access ul li.current-menu-item, #access ul li.current-menu-parent{
			background-image: url(images/tab.png);
			background-position: left top;
			background-repeat: repeat-x;
		}
	
		#access a{
			color: #fff;
		}
		
		#access li:hover > a,
		#access ul ul :hover > a {
			background: none;
			color: #000;
		}

#colophon{
	margin-top: 0px;
	border-top: 2px solid #0871b5;
}
		
blockquote{
	padding: 40px;
	background-color: #ccc;
	margin: 0 0 24px 0;
	background-image: url(images/quotes.png);
	background-position: left top;
	background-repeat: no-repeat;
}

	#content blockquote p{
		margin: 0px;
	}
	
#home_latest{
	padding: 0 0 20px 0px;
	margin: 0 0 10px 20px;
	border-bottom: 1px solid #ccc;
}
	
/*Content layouts and sidebars*/
#main{
	padding: 0;
}

#content{
	padding: 10px 0 0;
	margin: 0 280px 0 0px;
}

#primary{
	padding: 40px 10px 10px;
	background-color: #eee;
	background-image: url(images/sidebar_arrow.png);
	background-position: center top;
	background-repeat: no-repeat;
}

	#main .widget-area ul{
		padding: 0;
	}

	#primary .widget-container{
		margin-bottom: 20px;
		padding: 5px 5px 20px;
		border-bottom: 1px solid #0871b5;
	}
	
	#primary .widget-title{
		margin-bottom: 10px;
	}



/*Blog Posts*/	
.blog .post,
.archive .post{
	background-color: #ccc;
	padding: 20px;
	margin: 0 0 20px 0;
}

	.post .post_time{
		float: left;
		width: 150px;
		padding: 5px;
		background-color: #eee;
		text-align: center;
		font-size: 12px;
	}
	
		.post .post_time .the_time{
			float: left;
		}
	
		.post .post_time span.day{
			font-size: 22px;
			font-weight: bold;
			color: #0871b5;
		}
		
		.post .post_time span.comments-link{
			float: right;
		}
		
			.post .post_time span.comments-link a{
				padding: 3px 13px 8px;
				display: block;
				text-decoration: none;
				font-size: 14px;
				background-image: url(images/comment.png);
				background-position: center;
				background-repeat: no-repeat;
			}
			
				.post .post_time span.comments-link a:hover{
					background-image: url(images/comment-over.png);
					color: #fff;
				}
	
	.blog .entry-title,
	.blog .entry-content, .blog .entry-summary,
	.blog .entry-utility,
	.single .entry-title,
	.single .entry-content,
	.archive .entry-title,
	.archive .entry-content, .archive .entry-summary,
	.archive .entry-utility{
		clear: none;
		padding: 0 0 0 170px;
	}
	
	.entry-summary .cat-links,
	.entry-content .cat-links{
		font-style: italic;
	}
	
		.entry-summary .cat-links a,
		.entry-content .cat-links a{
			font-style: normal;
			margin: 0 5px 0 0;
			color: #fff;
			background-color: #0871b5;
			border: solid 1px #0871b5;
			padding: 2px;
			text-decoration: none;
		}
		
			.entry-summary .cat-links a:hover,
			.entry-content .cat-links a:hover{
				color: #0871b5;
				background-color: #ccc;
			}
	
	.entry-title a:hover, .entry-content a:hover, .entry-summary a:hover{
		color: #0871b5;
		text-decoration: none;
	}
	
.single #content .entry-title{
	margin-bottom: 20px;
}

.single #content{
	padding: 20px 0 0 10px;
}

.post-thumb{
	float: left;	
}

	#content .post-thumb img{
		margin: 0 5px 5px 0;
	}
	
.navigation{
	text-align: center;
}


/*Pages*/
.page{
	padding: 10px 0 0 20px;
}

	.home .page{
		padding: 0 0 0 20px;
	}
	

/*Twitter widget*/
.twtr-widget h3, .twtr-widget h4{
	clear: none;
}

/*Footer widgets*/
#footer-widget-area .widget-title{
	background-color: #eee;
	font-weight: normal;
	text-align: center;
	font-size: 18px;
	padding: 3px;
	margin: 0 0 10px;
}




/* Special things to make Jenny happy */
a.button:link, a.button:active, a.button:visited {
	color:#fff;
	background-color:#0871b5;
	padding: 10px;
	text-decoration: none;
}

 a.button:hover {
	color:#999;
	background-color:#0871b5;
	padding: 10px;
	text-decoration: none;
}


.clear{
	clear: both;
}